html {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  background: 
  padding: 0;
  margin: 0;
  background-size: 100%;}

section {
  min-height: 100%;
}

/******************************
  HOME
******************************/

#home {
  background: linear-gradient(
    rgba(128, 128, 128, .70),
    rgba(128, 128, 128, .70)),
    url(images/home-background.jpg);
  background-size: 100%;
}

#home span {
  position: absolute;
  top: 50%; left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

span h1{
  font-family: 'Lobster', cursive;
  font-size: 300%;
  text-align: center;
  background: linear-gradient(180deg, #F0F8FF 60%, #e5f3ff 75%, #cce7ff 90%, #99cfff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
}

span h2 {
  color: #F0F8FF;
  text-align: center;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

ul#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
}

ul#navigation li {
  float: right;
}

ul#navigation a:hover {
  background-color: rgba(77, 77, 77, .7);
}

ul#navigation a {
  display: block;
  width: 120px;
  color: #F0F8FF;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3;
  transition: background-color 0.3s;
}

/******************************
  ABOUT
******************************/
.myimage {
  width: 100px; height: 100px;
  border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;
  background-image: url(images/briana.jpg) no-repeat; 
  background-color: linear-gradient( rgba(128, 128, 128, .3), rgba(128, 128, 128, .3));
  background-size: 115%;
  margin-left:auto; margin-right:auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.myimage:hover {
  background-color: none
}

#about {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  padding: 15px;
  background-color: #3D3D5C;
}

#about title {
  text-align: center;
  color: #F0F8FF;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.1em;
  font-family: Lora;
  font-style: italic;
  display: inline-block;
  position: relative;
}

#about title:before,
title:after {
  background: url(images/arrow.svg) no-repeat center center/5em 0.5em;
  content: "";
  left: -5.8em;
  position: absolute;
  width: 5em;
  height: 1.25em;
}

#about title:after {
  left: auto;
  right: -5.8em;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

#about p {
  text-align: center;
  border-right: .1em solid;
  width: 16.5em; /*fallback*/
  width: 50ch; /*# of chars*/
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing s steps(50, end),
             blink-caret .5s step-end infinite alternate;
}



/******************************
  PROJECTS
******************************/
#projects {
  background-color: #3D3D5C;
}

/******************************
  CONTACT
******************************/
