.myimage {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  margin-left:auto; margin-right:auto;
  background: url(images/briana.jpg) no-repeat;
  background-size: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);}

body {
  font-family: 'Source Code Pro', ;
  background: 
    linear-gradient(
    rgba(77, 77, 77, .75),
    rgba(77, 77, 77, .75)),
    url(images/background.jpg) no-repeat;
  background-size: 97%;}

h1 {
  color: black;
  text-align: center;
  vertical-align: middle;}

ul {
  padding: 15px;
  margin: 0px auto 0px auto;
  text-align: center;}

li {
  display: inline;}

a:link {
  color: black;}

a:visited {
  color: black;}

a:hover {
  color:#29527B;}
  

a {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3;
  transition: color 0.3s;}
